<!--footer start-->
<footer id="footer "  class="footer ">
    <div class="container" >
    
        <div class="hm-footer-copyright">
            <div class="row">
                <div class="col-sm-5">
                    <p>
                        &copy;copyright. designed and developed by <a href="http://localhost:9090/team" id="my_team">Team</a> <a href="http://localhost:9090/login" id="my_team">Login</a>
                    </p><!--/p-->
                </div>
                <div class="col-sm-7">
                    <div class="footer-social">
                        
                        <a href="#"><i class="fa fa-facebook"></i></a>	
                        <a href="#"><img src="./icons/insta.png" alt="iNot_Found" height="20px" width="25px"></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><img src="./icons/git.png" alt="iNot_Found"></a>
                    </div>
                </div>
            </div>
            
        </div><!--/.hm-footer-copyright-->
    </div><!--/.container-->

    <div id="scroll-Top">
        <div class="return-to-top">
            <i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
        </div>
        
    </div><!--/.scroll-Top-->
    
</footer>
<!--footer end-->