
<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" id="brandC" href="/login/allPlaces"><b>Unseen</b><span style="color:brown;">_Muzaffarpur</span></a>
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          
          <a class="nav-link active" href="/login/allPlaces">All listings</a>
          <a class="nav-link" href="/login/allPlaces/new">Add new Listing</a>
          <a class="nav-link " href="/">Log_out</a>
        </div>
      </div>
    </div>
  </nav>
