<% layout("./layouts/boilerplate") %>
<body>
    <br><br><br><br>
    <h4 style="font-size: larger;">ACCESS DENIED! Your enter wrong username or Password <a href="/login" style="color:blue; font-size: medium;">Try again</a></h4>
    <br><br><br><br>
</body>
