<% layout("./layouts/boilerplate") %>
<body>
    <section class="slogin">
        <div class="login container">
            <h4 class="login-style">Login</h4>
            <form  method="POST" action="/allPlaces">
                <div class="login-style">
                    <label for="user">Username:</label>
                    <input type="text" id="user" placeholder="Enter username" name="username" required/>
                </div>
                <div class="login-style">
                    <label for="password">Password:</label>
                    <input type="password" placeholder="Enter password" name="password" required/>
                </div>
                <button class="btn-primary">Login</button>
            </form>
        </div>
    </section>
 
	
</body>
