<% layout("./layouts/boilerplate") %>
<body>
    <section class="slogin">
        <div class="login container">
            <div class="login-box">
                <h2>Only Admin</h2>
                <form action="/login/allPlaces" method="POST">
                    <input type="text" name="username" placeholder="Username" required />
                    <input type="password" name="password" placeholder="Password" required />
                    <button type="submit">Login</button>
                 </form>
            </div>
            
        </div>
    </section>
</body>