<% layout("./layouts/boilerplate") %>
<body>
    <% for(let data of allMall){%>
        
        <div class="col-md-4 col-sm-6" style="margin-top: 20px;">
            <div class="single-blog-item">
                <div class="single-blog-item-img">
                    <img src="<%=data.image%>" alt="blog image" class="img-sizel">
                </div>
               <div>
                        
                    <p>
                        <b><%=data.title%></b><br>
                        <p><%=data.description%></p><br>
                        <b>Location:</b> <%=data.location%> <br>
                    </p>
                </div>
            </div>
        </div>
    <%}%>
</body>