<% layout("./layouts/boilerplate") %>
<body>
<div class="not-found-wrapper">
  <div class="not-found-box">
    <h1>😕 Oops! No Places Found</h1>
    <p>We couldn’t find any results based on your search.</p>
    <a href="/" class="retry-button">Try Again</a>
  </div>
</div>

    

</body>