<% layout("./layouts/boilerplate") %>
<body>
    <!-- Team Member Information -->
    <section style="margin: 50px 20px 70px 20px; ">
        <div class="row">
            <div class=" col-md-3 col-sm-5">
                <div class="single-explore-item">
                    <div class="single-explore-img">
                        <img src="./images/Team_img/Nitish_Kumar.jpg" alt="iNot_Found">
                    </div>
                    
                    <div class="explore-person">
                        <div class="row">
                            
                            <div class="col-sm-10 team_detaile">
                                <p >
                                   <h4>Name:- <span class="fsize">Nitish Kumar</span></h4>
                                   <h4>Roll No:- <span class="fsize">225109</span></h4>
                                   <h4>Session:- <span class="fsize">2022 - 2025</span></h4>
                                   <h4>College Name:- <span class="fsize">L.N.Mishra College Of Business Management.</span></h4>
                                </p>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
            <div class=" col-md-3 col-sm-5">
                <div class="single-explore-item">
                    <div class="single-explore-img">
                        <img src="./images/Team_img/Rajnish.jpg" alt="iNot_Found">
                    </div>
                    
                    <div class="explore-person">
                        <div class="row">
                            
                            <div class="col-sm-10 team_detaile">
                                <p >
                                   <h4>Name:- <span class="fsize">Rajnish Pathak</span></h4>
                                   <h4>Roll No:- <span class="fsize">225097</span></h4>
                                   <h4>Session:- <span class="fsize">2022 - 2025</span></h4>
                                   <h4>College Name:- <span class="fsize">L.N.Mishra College Of Business Management.</span></h4>
                                </p>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
            <div class=" col-md-3 col-sm-5">
                <div class="single-explore-item">
                    <div class="single-explore-img">
                        <img src="./images/Team_img/Sneha.jpg" alt="iNot_Found">
                    </div>
                    
                    <div class="explore-person">
                        <div class="row">
                            
                            <div class="col-sm-10 team_detaile">
                                <p >
                                   <h4>Name:- <span class="fsize">Sneha</span></h4>
                                   <h4>Roll No:- <span class="fsize">225110</span></h4>
                                   <h4>Session:- <span class="fsize">2022 - 2025</span></h4>
                                   <h4>College Name:-<span class="fsize">L.N.Mishra College Of Business Management.</span></h4>
                                </p>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
            <div class=" col-md-3 col-sm-5">
                <div class="single-explore-item">
                    <div class="single-explore-img">
                        <img src="./images/Team_img/Muskan.jpg" alt="iNot_Found">
                    </div>
                    
                    <div class="explore-person">
                        <div class="row">
                            
                            <div class="col-sm-10 team_detaile">
                                <p >
                                   <h4>Name:- <span class="fsize">Muskan Pathak</span></h4>
                                   <h4>Roll No:- <span class="fsize">225064</span></h4>
                                   <h4>Session:- <span class="fsize">2022 - 2025</span></h4>
                                   <h4>College Name:- <span class="fsize">L.N.Mishra College Of Business Management.</span></h4>
                                </p>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
            <div class=" col-md-3 col-sm-5">
                <div class="single-explore-item">
                    <div class="single-explore-img">
                        <img src="./images/Team_img/Agrani.jpg" alt="iNot_Found">
                    </div>
                    
                    <div class="explore-person">
                        <div class="row">
                            
                            <div class="col-sm-10 team_detaile">
                                <p >
                                   <h4>Name:- <span class="fsize">Agrani Sinha</span></h4>
                                   <h4>Roll No:- <span class="fsize">225104</span></h4>
                                   <h4>Session:- <span class="fsize">2022 - 2025</span></h4>
                                   <h4>College Name:- <span class="fsize">L.N.Mishra College Of Business Management.</span></h4>
                                </p>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
           
        </div>
    </section>
</body>