
<% layout("./layouts/loginBoilerplate") %>
<div class="row">
    <div class="col-8 offset-2">

    <h3>Add New Place</h3>
    <form method="POST" action="/login/allPlaces/add">
        <div class="mb-3">
            <label for="title" class="form-label">Title *</label>
            <input 
                name="add[title]" placeholder="Add Place Name" type="text" class="form-control" id="title" required
            >
        </div>
        <div class="mb-3">
            <label for="descreption" class="form-label">Descreption</label>
            <br>
            <textarea  
                name="add[description]"  class="form-contro" placeholder="in 50 words only" rows="4" cols="50" required >
            </textarea>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image Link</label>
            <input 
                name="add[image]" placeholder="Enter image path" type="text" class="form-control" id="image" required
            >
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="location" class="form-label">Location *</label>
                <input 
                    name="add[location]" placeholder="Enter location" type="text" class="form-control" id="location" required
                >
            </div>
            <div class="mb-3 col-md-8">
                <label for="city" class="form-label">City *</label>
                <input 
                    name="add[city]" 
                    placeholder="Muzaffarpur" type="text" id="city" class="form-control" 
                >
            </div>
        </div>
        
        <div class="mb-3">
            <label for="type" class="form-label">Type *</label>
            <input 
                name="add[type]" placeholder="Religious,Mall,Park,Hotel,Restaurant" type="text" id="type" class="form-control"
                required
            >
        </div>
        
        <button class="btn btn-dark add-btn">Add</button>
        <br><br>
    </form>
    </div>
</div>
